.bg-graphics {
  width: 100%;
  height: auto;
  margin: 0;
  left: 0;
  position: relative;

  &__top {
    top: 0;
  }

  &__bottom {
   margin-bottom: -10px;
  }
}

.bg-color{
    background-color: $pink;
    width: auto;
}

.button{
  margin: 20px auto 0;
  width: 80%;
  height: 56px;
  font-size: 22px;
  border-radius: 50px;
}

.button-black {
  background-color: $brown;
  color: white;
}