.bg-graphics {
  width: 100%;
  height: auto;
  margin: 0;
  left: 0;

  &__top {
    top: 0;
  }

  &__bottom {
   margin-bottom: -10px;
  }
}

.bg-color{
    background-color: $pink;
    width: auto;
}