/* TYPOGRAPHY */

@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700|Work+Sans:300,400,500,600,700,800&display=swap');

#app {
    font-family: 'Work Sans', sans-serif;
    line-height:  1.8;
}

h1, h2, h3, .pt, .menu-list {
    font-family: 'PT Serif', serif;
    font-weight: 600;
}

.title{
    font-size: 40px;
}

.text {
    font-size: 14px;
}

// p {
//     line-height: 150%;

//     &.ingress {
//         font-weight: 600;
//         font-size: 1.1rem;
//     }
// }